<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <!-- 로그 저장 폴더 -->
    <add key="AppRoot" value="C:/PRAI_Cam/"/>

    <!-- PLC Type : melsec=1 modbus=2 -->
    <add key="PlcType" value="1" />

    <!-- 미츠비시 PLC 연결하는 경우 Station Number -->
    <add key="MelsecStationNo" value="61" />

    <!-- Modbus IP Address -->
    <add key="ModbusIP" value="10.161.213.1" />
    <!-- Modbus Service Port -->
    <add key="ModbusPort" value="502" />
    <!-- Modbus SlaveID -->
    <add key="ModbusSlaveID" value="1" />

    <!-- PLC Read 간격 (단위: ms) -->
    <add key="PlcReadInterval" value="100" />
    
    <!-- 다모델인 경우 모델 개수 -->
    <!--<add key="ModelQty" value="3" />-->

    <!-- PLC Read: 다모델인 경우 모델 1번의 PLC 주소 -->
    <!--<add key="ModelStartAddress" value="M501" />-->

    <!-- PLC Read: Anomaly 체크하라는 트리거 On/Off 신호 -->
    <add key="TriggerAddress" value="B050" />

    <!-- PLC Read: MBB 녹화하라는 트리거 On/Off 신호 -->
    <!--<add key="MbbTriggerAddress" value="M550" />-->

    <!-- Anomaly 자동 Off 여부: true인 경우, Anomaly 발생 후 500 ms 후 Off 신호 보냄 -->
    <add key="AnomalyAutoOff" value="False" />
    
    <!-- PLC Write: Anomaly 발생 시, 발생 사실을 기록하는 PLC 주소 -->
    <add key="AnomalyOnAddress" value="B601" />
   
    <!-- PLC Write: 이상 체크 결과 OK임을 기록하는 PLC 주소 -->
    <!--<add key="AnomalyOffAddress" value="M510" />-->
    
    <!-- PLC Read/Write: PRAI-Cam 준비되었다는 시그널을 기록하는 PLC 주소 -->
    <add key="ReadyAddress" value="B600" />    
    
  </appSettings>
</configuration>