<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <!-- 프로그램 SubTitle -->
    <!-- <add key="SubTitle" value="(Camera #1)"/> -->
    
    <!-- 로그 저장 폴더 -->
    <add key="AppRoot" value="C:/PRAI_Cam/"/>

    <!-- PLC Type : melsec=1 modbus=2 -->
    <add key="PlcType" value="1" />

    <!-- 미츠비시 PLC 연결하는 경우 Station Number -->
    <add key="MelsecStationNo" value="61" />

    <!-- Modbus IP Address -->
    <add key="ModbusIP" value="10.161.213.1" />
    <!-- Modbus Service Port -->
    <add key="ModbusPort" value="502" />
    <!-- Modbus SlaveID -->
    <add key="ModbusSlaveID" value="1" />

    <!-- PLC Read 간격 (단위: ms) -->
    <add key="PlcReadInterval" value="100" />
    
    <!-- 다모델인 경우 모델 개수 -->
    <!--<add key="ModelQty" value="3" />-->
    <!--<add key="ModelQty2" value="3" />-->
    <!--<add key="ModelQty3" value="3" />-->
    <!--<add key="ModelQty4" value="3" />-->

    <!-- PLC Read: 다모델인 경우 모델 1번의 PLC 주소 -->
    <!--<add key="ModelStartAddress" value="M501" />-->
    <!--<add key="ModelStartAddress2" value="M511" />-->
    <!--<add key="ModelStartAddress3" value="M521" />-->
    <!--<add key="ModelStartAddress4" value="M531" />-->

    <!-- PLC Read: Anomaly 체크하라는 트리거 On/Off 신호 -->
    <add key="TriggerAddress" value="M100" />
    <add key="TriggerAddress2" value="M101" />
    <add key="TriggerAddress3" value="M102" />
    <!-- <add key="TriggerAddress4" value="M103" />-->

    <!-- PLC Read: MBB 녹화하라는 트리거 On/Off 신호 -->
    <!--<add key="MbbTriggerAddress" value="M550" />-->
    <!--<add key="MbbTriggerAddress2" value="M551" />-->
    <!--<add key="MbbTriggerAddress3" value="M552" />-->
    <!--<add key="MbbTriggerAddress4" value="M553" />-->

    <!-- Anomaly 자동 Off 여부: true인 경우, Anomaly 발생 후 500 ms 후 Off 신호 보냄 -->
    <add key="AnomalyAutoOff" value="False" />
    
    <!-- PLC Write: Anomaly 발생 시, 발생 사실을 기록하는 PLC 주소 -->
    <add key="AnomalyOnAddress" value="B601" />
    <!--<add key="AnomalyOnAddress2" value="B602" />-->
    <!--<add key="AnomalyOnAddress3" value="B603" />-->
    <!--<add key="AnomalyOnAddress4" value="B604" />-->
   
    <!-- PLC Write: 이상 체크 결과 OK임을 기록하는 PLC 주소 -->
    <add key="AnomalyOffAddress" value="M510" />
    <!--<add key="AnomalyOffAddress2" value="M511" />-->
    <!--<add key="AnomalyOffAddress3" value="M512" />-->
    <!--<add key="AnomalyOffAddress4" value="M513" />-->
    
    <!-- PLC Read/Write: PRAI-Cam 준비되었다는 시그널을 기록하는 PLC 주소 -->
    <!-- <add key="ReadyAddress" value="B600" />-->
    
    <!-- PLC Alive 사용 여부: true인 경우, PLC Alive 신호 보냄 -->
    <add key="UseAlive" value="False" />
    <!-- PLC Write: Alive bit 기록하는 PLC 주소 -->
    <add key="AliveAddress" value="B1F00" />
    <!-- PLC Alive 간격 (단위: ms) -->
    <add key="PlcAliveInterval" value="2000" />

    <add key="HttpServicePort" value="6261" />
    <!-- <add key="NumChannel" value="4" />-->
    <add key="HttpSendPort" value="6161" />
    <!-- <add key="HttpSendPort2" value="6162" />-->
    <!-- <add key="HttpSendPort3" value="6163" />-->
    <!-- <add key="HttpSendPort4" value="6164" />-->

  </appSettings>
</configuration>